@foreach(var item in Model){
  var isCompleted = item.IsCompleted.ToString();
  var progressValue = Enumerable.Sum(item.Records,(Func<ITaskRecord,double>)(x=>x.Value));
  var workValue = Enumerable.Sum(item.Records,(Func<ITaskRecord,double>)(x=>x.WorkValue));
  var cpi = string.Format("{0:0.0}", progressValue / workValue);
  var progress = (progressValue / item.Value) * 100.0;
  var assignUserIcon = item.Assign!=null ? @item.Assign.IconFile : "";
  var assignUserName = item.Assign!=null ? @item.Assign.Name : "";
  var iconVisibility = item.Assign!=null ? "visible" : "hidden";
  var taskLink = @Url.Content(string.Format("~/task/{0}", @item.Id));
  var assignUserLink = item.Assign!=null ? @Url.Content(string.Format("~/user/{0}", @item.Assign.Id)) : taskLink;


  <div class="media">
    <a class="media-left" href="@assignUserLink">
      <img src="@assignUserIcon" class="media-object img-circle" width="48" style="visibility:@iconVisibility"/>
      <p class="text-center">@assignUserName</p>
    </a>
    <a class="media-body" href="~/task/@item.Id" >
      <div class="media-heading">
        <p class="task" href="~/task/@item.Id" isCompleted="@isCompleted">
          <span class="glyphicon glyphicon-ok taskicon_done"  isCompleted="@isCompleted" style="visibility:hidden"></span>
          @item.Name
          <span class="badge">@(item.Value)pt</span>
          <span class="badge">cpi @cpi</span>
        </p>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="@(progress)" aria-valuemin="0" aria-valuemax="100" style="width: @(progress)%;">
          @(progress)%
        </div>
      </div>
    </a>
  </div>
}
