@foreach(var item in Model){
  <div class="row">
    <div class="col-md-1">
      <span class="glyphicon glyphicon-ok taskicon_done"  isCompleted="@item.IsCompleted;" style="display:none"></span>
    @if(item.Assign!=null)
    {
        <img src="@item.Assign.IconFile" class="img-rounded img-responsive taskicon_ready" width="24" isCompleted="@item.IsCompleted;" style="display:none" />
    }
    </div>
    <div class="col-md-11">
      <a class="task" href="~/task/@item.Id" isCompleted="@item.IsCompleted;">@item.Name</a>
    </div>
  </div>
}
